.headerWrapper {
  background: #418df9;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 24px;
  align-items: flex-start;
  gap: 200px;
}

.headerText {
  color: #fff;
  text-shadow: 2px 4px 0px #000;
  font-family: "Inconsolata";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}
.TextandBurger {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageWrapper {
  border-radius: 8px;
  border: 4px solid #000;
  background: #ffb800;
  box-shadow: 2px 4px 0px 0px #000;
  display: flex;
  width: 72px;
  height: 72px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.contentWrapper {
  gap: 16px;
  display: flex;
  flex: 1;
}
.buttonWrapper {
  display: flex;
  gap: 16px;
}
.inputWrapper {
  position: relative;
  width: 100%;
}
.input {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 0px 12px;
  justify-content: space-between;
  flex: 1 0 0;
  border-radius: 8px;
  border: 4px solid #000 !important;
  background: #fff;
  box-shadow: 2px 4px 0px 0px #000;
  color: #000;
  font-family: Inconsolata;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.input::placeholder {
  color: rgba(37, 43, 66, 0.6);
  font-family: Inconsolata;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input:focus-visible {
  outline: none;
}
.inputWrapper img {
  position: absolute;
  right: 16px;
  top: 16px;
}
@media screen and (max-width: 1100px) {
  .headerWrapper {
    background: #418df9;
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .TextandBurger {
    width: 100%;
  }
  .buttonWrapper {
    display: none;
  }
  .contentWrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .imageWrapper {
    display: none;
  }
}
