.mainWrapper {
  padding: 24px;
  display: flex;
  gap: 20px;
}
.fruitImage {
  flex: 1;
  height: 562px;
  border-radius: 8px;
  border: 4px solid #000;
  background: #fff;
  box-shadow: 2px 4px 0px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fruitImage img {
  width: 60%;
}
.iconsWrapper img{
    width: 100%;

}
.description {
  border-radius: 8px;
  border: 4px solid #000;
  background: #03d1aa;
  box-shadow: 4px 4px 0px 0px #000;
  display: flex;
  flex: 1;
  height: 562px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.name {
  color: #000;
  font-family: Inconsolata;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.descriptionText {
  color: #000;
  font-family: Inconsolata;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price {
  color: #000;
  text-align: right;
  font-family: Inconsolata;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button {
  width: 100%;
}
.iconsWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
}
.iconWrapper {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid #000;
  background: #ffb800;
  box-shadow: 2px 4px 0px 0px #000;
  justify-content: center;
  height: 48px;
  width: 48px;
}

@media screen and (max-width: 1100px) {
  .mainWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .description {
    gap: 40px;
  }
}
