.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 32px;
  border-radius: 8px;
  border: 4px solid #000;
  background: #fff;
  box-shadow: 2px 4px 0px 0px #000;
}
.font {
  font-family: Inconsolata;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.offer {
  color: #000;
}
.name {
  color: #03d1aa;
}
.sale {
  color: #ea2845;
  font-family: Inconsolata;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media screen and (max-width : 680px) {
    .wrapper{
        flex-direction: column;
    }
}