.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.blackBackground {
  width: 152.827px;
  display: flex;
  height: 58px;
  transform: rotate(2deg);
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #000;
}

.fruit {
  position: absolute;
  border-radius: 4px;
  background: #ea2845;
  width: 152.827px;
  display: flex;
  transform: rotate(-4deg);
  padding: 16px;
  align-items: center;
  height: 58px;
  color: #fff;
  font-family: Inconsolata;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  justify-content: center;
}
.selectWrapper {
  display: flex;
  height: 72px;
  position: relative;
  width: 240px;
  border-radius: 8px;
  border: 4px solid #000;
  background-color: #ffa500;
  box-shadow: 2px 4px 0px 0px #000;
  padding-right: 16px;
}

.customSelect {
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffa500;
  cursor: pointer;
  border: none;
  color: #252b42;
  font-family: Inconsolata;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customSelect:focus {
  outline: none;
}
@media screen and (max-width: 680px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  .wrapper div {
    width: 100% !important;
  }
}
